body {
  font-family: sans-serif;
  position: relative;
}

h1 {
  font-style: italic;
}

h1:active {
  color: purple;
}

footer p {
  font-size: 14px;
}

article header p {
  font-style: italic;
}

li {
  font-size: 20px;
}

ul {
  list-style: none;
}

.post-image {
  width: 100%;
  height: auto;
}

.main-container {
  width: 700px;
  margin: 0 auto;
}

.like-btn {
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
